
<h1>Login!</h1>
<div class="userlogin">

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <div class="loginsubmit">
  <%= submit_tag "Submit" %>
<% end %>
</div> 
</div>